{% extends "layout/index.html" %}

{% block body %}

<div class="cl-form-div-container">
    <form class="cl-form" method="POST" action="/rental/edit?:id" enctype="application/x-www-form-urlencoded">
        <div class="field" style="display: inline-block">
            <label class="label">Car</label>
            <div class="control">
                <div class="select" >
                <select name="fk_car">
                    {% for car in data.cars%}
                    <option {{"selected" if data.rental.fk_car === car.id}} value={{car.id}}>{{car.year}} {{car.brand}} {{car.model}} - ${{car.price_per_day}} per day</option>
                    {% endfor %}
                </select>
                </div>
            </div>
        </div>
        <div class="field" style="display: inline-block">
            <label class="label">Client</label>
            <div class="control">
                <div class="select">
                <select name="fk_client">
                    {% for client in data.clients %}
                    <option {{"selected" if data.rental.fk_client === client.id}} value={{client.id}}>{{client.name}} {{client.surname}}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Price per day</label>
            <div class="control">
                <input class="input" type="text" placeholder="Price per day" name="price_per_day" value="{{data.rental.price_per_day}}" required>
            </div>
        </div>
        <div class="field">
            <label class="label">From...</label>
            <div class="control">
                <input class="input" type="date" placeholder="From" name="date_from" required value={{data.rental.date_from}}>
            </div>
        </div>
        <div class="field">
            <label class="label">Until...</label>
            <div class="control">
                <input class="input" type="date" placeholder="From" name="date_until" required value={{data.rental.date_until}}>
            </div>
        </div>
        <div class="field" style="display: inline-block">
            <label class="label">Payment method</label>
            <div class="control">
                <div class="select">
                <select name="payment_method" required>
                        <option {{"selected" if data.rental.payment_method == "debit_card"}} value="debit_card">Debit card</option>
                        <option {{"selected" if data.rental.payment_method == "credit_card"}} value="credit_card">Credit card</option>
                        <option {{"selected" if data.rental.payment_method == "transaction"}} value="transaction">Transaction</option>
                        <option {{"selected" if data.rental.payment_method == "cash"}} value="cash">Cash</option>
                </select>
                </div>
            </div>
        </div>
        <div class="field" style="display: inline-block; margin-left: 20px">
            <label class="label">Is paid</label>
            <div class="control">
                <div class="select">
                <select name="is_paid" required>
                        <option {{"selected" if data.rental.is_paid == true}}value="true">Yes</option>
                        <option {{"selected" if data.rental.is_paid == false}} value="false">No</option>
                </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Rental ID</label>
            <div class="control">
                <input class="input" readonly type="number" placeholder="cl color" name="id" value="{{data.rental.id}}" required>
            </div>
        </div>
        <div>
            <button type="submit" class="button is-primary">Send</button>
        </div>
    </form>
</div>
{% endblock %}