{% extends 'index.html' %}

{% block list%}

{% for error in data.errors %}
    <div class="notification is-danger is-light">
    <button class="delete"></button>
        {{error}}
    </div>
{% endfor %}

{% for message in data.messages %}
    <div class="notification is-danger is-light">
    <button class="delete"></button>
        {{message}}
    </div>
{% endfor %}


<div style="text-align: center; margin-top: 50px">
    <div>
        <form id="agregar-equipo" style="display:inline-block" method="GET" action="/car/new">
            <button type="submit" class="button is-primary" >
                <strong>
                    Add Car <i class="fas fa-plus-square"></i>
                </strong> 
            </button>
        </form>
    </div>
</div>

<div id="container" class="car-list-container">
    <table class="table is-bordered car-list-table">
    <thead>
        <tr>
            <th class="car-list-img">Image</th>
            <th class="car-list-col">Car</th>
            <th class="car-list-col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for car in data.cars %}
        <tr>
            <th class="car-list-img"><img src="{{car.images}}"></th>
            <th class="car-list-col">{{car.year}} {{car.brand}} {{car.model}}</th>
            <th class="car-list-col">
                <form class="car-col-form" method="GET" action="/car/view?:id">
                    <input type="hidden" name="id" value="{{car.id}}">
                    <button type="submit" class="button is-primary"><i class="fas fa-eye"></i></button>
                </form>
                <form class="car-col-form" method="GET" action="/car/edit?:id">
                    <input type="hidden" name="id" value="{{car.id}}">
                    <button type="submit" class="button is-info"><i class="fas fa-edit"></i></button>
                </form>
                <form class="car-col-form" method="GET" action="/car/delete?:id">
                    <input type="hidden" name="id" value="{{car.id}}">
                    <button type="submit" class="button is-danger"><i class="fas fa-trash"></i></button>
                </form>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}