{% extends "index.html" %}

{% block edit %}

<div class="car-form-div-container">
    <form class="car-form" method="POST" action="/car/edit?:id" enctype="multipart/form-data">
        <div class="field">
            <label class="label">Brand</label>
            <div class="control">
                <input class="input" type="text" placeholder="Car brand" name="brand" value="{{data.car.brand}}">
            </div>
        </div>
        <div class="field">
            <label class="label">Model</label>
            <div class="control">
                <input class="input" type="text" placeholder="Car model name" name="model" value="{{data.car.model}}">
            </div>
        </div>
        <div class="field">
            <label class="label">Car Year</label>
            <div class="control">
                <input class="input" type="number" max="2020" min="1920" placeholder="Car year" name="year" value="{{data.car.year}}">
            </div>
        </div>
        <div class="field">
            <label class="label">Mileage (KM)</label>
            <div class="control">
                <input class="input" type="number" placeholder="Car mileage" name="mileage" value="{{data.car.mileage}}">
            </div>
        </div>
        <div class="field">
            <label class="label">Color</label>
            <div class="control">
                <input class="input" type="text" placeholder="Car color" name="color" value="{{data.car.color}}">
            </div>
        </div>
        <div class="field">
            <label class="label">ID</label>
            <div class="control">
                <input class="input" readonly type="number" placeholder="Car color" name="id" value="{{data.car.id}}">
            </div>
        </div>
        <div class="field">
            <label class="label">Max. of passengers</label>
            <div class="control">
                <input class="input" type="number" placeholder="Max. of passengers" name="passengers" value="{{data.car.passengers}}">
            </div>
        </div>
        <div class="field">
            <label class="label">Car image</label>
            <div class="control">
                <input class="input" type="file" placeholder="Car image" name="car_image">
            </div>
        </div>
        <div class="field">
            <label class="label">Air conditioner</label>
            <div class="control">
                <div class="select">
                <select name="hasAC">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Gearbox Type</label>
            <div class="control">
                <div class="select">
                <select name="gearbox_type">
                    <option {{"selected" if data.car.gearbox_type === "automatic"}} value="automatic">Automatic</option>
                    <option {{"selected" if data.car.gearbox_type === "manual"}} value="manual">Manual</option>
                </select>
                </div>
            </div>
        </div>
        <button type="submit" class="button is-primary">Send</button>
    </form>
</div>
{% endblock %}