{% extends "index.html" %}

{% block view %}
<div class="car-card-container">
  <div class="card car-card">
    <div class="card-image">
      <figure class="car-card-img">
        <img src="{{data.car.images}}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="content title is-5">
        <p>{{data.car.year}} {{data.car.brand}} {{data.car.model}}</p>
        <p>Color {{data.car.color}}</p>
        {% if data.car.hasAC == true %}
          <p>Has AC</p>
        {% else %}
          <p>Not has AC</p>
        {% endif %}
        <p>For {{data.car.passengers}} passengers</p>
        {% if data.car.gearbox_type == "manual" %}
          <p>Has an manual gearbox</p>
        {% else %}
          <p>Has an automatic gearbox</p>
        {% endif %}
      </div>
    </div>
    <a class="button is-primary" href="/car">
      <strong>Back to car list <i class="fas fa-car"></i></i></strong>
    </a>
  </div>
  
</div>

{% endblock %}